.container
{
    background-color: #7ABDE5;

    text-align: center;

    width: 100vw;
    height: 100vh;
}

.text
{
    color: White
}


/* Login Button */
.lbutton {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.lbutton:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 1rem;
    z-index: -2;
}
.lbutton:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 1rem;
    z-index: -1;
}
.lbutton:hover {
    color: #fff;
}
.lbutton:hover:before {
    width: 100%;
}


/* Sign Up */
.sbutton {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    }
.sbutton:before 
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #3f3f3f;
    transition: all 0.3s;
    border-radius: 1rem;
    z-index: -1;
}
.sbutton:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #818181;
    border-radius: 1rem;
    z-index: -2;
} 
.sbutton:hover {
    color: #fff;
}
.sbutton:hover:before {
    width: 100%;
}

