.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9fafb;

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal-content {
      background-color: white;
      padding: 2rem;
      border-radius: 0.5rem;
      position: relative;
      width: 100%;
      max-width: 500px;
      max-height: 90vh;
      overflow-y: auto;

      .modal-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #666;
        transition: color 0.3s ease;

        &:hover {
          color: #000;
        }
      }

      .modal-inner {
        margin-top: 1rem;
        table {
          width: 100%;
          border-collapse: collapse;
          background-color: white;

          thead {
            position: sticky;
            top: 0;
            background-color: white;
            z-index: 10;

            th {
              padding: 1rem;
              text-align: left;
              font-weight: 600;
              color: #4b5563;
            }
          }

          tbody {
            tr {
              &:hover {
                background-color: #f9fafb;
              }

              td {
                padding: 1rem;

                .open-modal {
                  background-color: #007bff;
                  color: white;
                  border: none;
                  padding: 0.5rem 1rem;
                  border-radius: 0.25rem;
                  cursor: pointer;
                  transition: background-color 0.3s ease;

                  &:hover {
                    background-color: #0173ed;
                  }
                }

                .delete {
                  padding: 0.5rem 1rem;
                  background-color: #ef4444;
                  color: white;
                  border: none;
                  border-radius: 0.375rem;
                  cursor: pointer;
                  transition: background-color 0.2s;

                  &:hover {
                    background-color: #dc2626;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .form {
    padding: 1rem;
    margin: 0 auto;

    h2 {
      margin: 0;

      color: #4b5563;
    }

    form {
      padding: 1rem;
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      color: #4b5563;

      .form-row {
        display: flex;
        flex-direction: row;

        .price-column {
          width: 50%;
        }

        .type-column {
          margin: 0 auto;
        }

        .dollar-input {
          display: flex;
          align-items: center;
          position: relative;

          .dollar-sign {
            position: absolute;
            left: 10px;
            font-size: 1rem;
            color: #666;
            pointer-events: none;
            top: 9px;
          }

          input[type="number"] {
            padding-left: 25px;
            height: 2.5rem;
          }
        }
      }

      label {
        text-align: left;
        font-weight: 600;
      }

      input {
        margin-bottom: 1rem;

        &[type="button"] {
          background-color: #007bff;
          color: #ffffff;
          border: none;
          margin: 0;
          cursor: pointer;
          transition: background-color 0.2s;

          &:hover {
            background-color: #0173ed;
          }
        }
      }
    }
  }

  .table {
    padding: 1rem;
    border-top: 1px solid #e5e7eb;

    table {
      width: 100%;
      border-collapse: collapse;
      background-color: white;

      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

      thead {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 10;

        th {
          width: 12.5%;
          padding: 1rem;
          text-align: left;
          font-weight: 600;
          color: #4b5563;
          border-bottom: 1px solid #e5e7eb;
        }
      }

      tbody {
        tr {
          &:hover {
            background-color: #f9fafb;
          }

          td {
            padding: 1rem;
            border-bottom: 1px solid #e5e7eb;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            max-width: 100px;

            .open-modal {
              background-color: #007bff;
              color: white;
              border: none;
              padding: 0.5rem 1rem;
              border-radius: 0.25rem;
              cursor: pointer;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: #0173ed;
              }
            }

            .delete {
              padding: 0.5rem 1rem;
              background-color: #ef4444;
              color: white;
              border: none;
              border-radius: 0.375rem;
              cursor: pointer;
              transition: background-color 0.2s;

              &:hover {
                background-color: #dc2626;
              }
            }
          }
        }
      }
    }
  }
}

.header {
  text-align: center;
}

.overview-button {
  width: 10;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #e7e7e7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken(#e7e7e7, 10%);
  }
}
